{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * NASA APOD plugin for Craft CMS
 *
 * Apod Widget Body
 *
 * @author    Adam Pat Pattison
 * @copyright Copyright (c) 2018 Adam Pat Pattison
 * @link      https://www.adampatpattison.co.uk
 * @package   NasaApod
 * @since     1.0.0
 */
#}
{% if result.error is defined %}
    <p class="error">{{ result.error.message ?? 'Unknown Error'|t('nasa-apod')}}</p>
    <p class="error">NASA API Key supplied: "{{ apiKey }}"</p>
{% elseif result.url is not defined %}
    <p class="error">{{ 'No image found'|t('nasa-apod') }}</p>
{% else %}

    {% set title = result.title ?? ('Untitled'|t('nasa-apod')) %}

    <h3>{{ title }}</h3>
    <figure>
    {% if result.media_type is same as('video') %}
        <iframe src="{{ result.url }}" style="width: 100%;min-height: 300px;" alt="{{ title }}"></iframe>
        <a style="font-style: italic;" href="{{ result.url }}" title="{{ 'Open video in a new window'|t('nasa-apod')}}" target="_blank">{{ 'Open video in a new window'|t('nasa-apod')}}</a>
    {% else %}
        <a href="{{ result.hdurl }}" title="{{ 'View HD version'|t('nasa-apod')}}" target="_blank">
            <img src="{{ result.url }}" style="width: 100%" alt="{{ title }}"/>
        </a>
    {% endif %}
        <figcaption style="font-style: italic;">{{ 'Credit:'|t('nasa-apod') }} {{ result.copyright ?? ('Public Domain'|t('nasa-apod')) }} - {{ result.date|date('d/m/Y') }}</figcaption>
    </figure>
    <p>{{ result.explanation ?? '' }}</p>
{% endif %}